.btn {
    padding: 14px 45px;
    border-radius: 28px;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
    color: #fff7f0;
  }
  .header__btn {
    background-color: #030303;
    &:hover {
      background-color: #755cde;
    }
  }

  .about__btn {
    background-color: #eb7565;
    align-self: flex-start;
    &:hover {
      background-color: #f6a560;
    }
  }

  .cta__btn {
    align-self: center;
  }

  @media (max-width: 450px) {
    .btn {
        font-size: 1.4rem;
        padding: 8px 28px;
      }

      .about__btn {
        align-self: center;
      }
  }